/** Homepage */

.jumbotron, .preheader, .bg-dark {
    background-size: 100%;
    background-color: #12141D;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 991px) {

    .jumbotron {
        background-image: none !important;
    }
}

.jumbotron {
    padding-bottom: 100px !important;
    padding-top: 25px !important;
    border-radius: 0px;
    margin-bottom: 0px;
}

.jumbotron .h1 {
    font-size: 5.9rem !important;
    margin-bottom: 0px !important;
}

.jumbotron .h2 {
    margin-bottom: 0px !important;
    padding-top: 0px;
    color: #fff;
    font-size: 3.4rem;
}

.service {
    @extend .bg-secondary, .rounded, .p-5, .transition;
}

.service:hover {
    @extend .bg-primary, .transition;
}

.project {
    @extend .bg-secondary, .p-5, .transition;
}

.post {
    @extend .bg-secondary, .p-5, .transition;
}

.project:hover {
    @extend .bg-dark, .transition;
}